.label {
  @apply flex items-center gap-2 cursor-pointer;
}

.article-light {
  --accent: rgb(134, 179, 0);
  --panel: rgb(255, 255, 255);
  --buttonBg: rgba(0, 0, 0, 0.05);
}

.article-dark {
  --accent: rgb(99, 226, 183);
  --panel: rgb(24, 24, 28);
  --buttonBg: rgba(255, 255, 255, 0.05);
}

.article {
  @apply mt-4 p-8 overflow-hidden border border-base-300 rounded-md;
  font-size: calc(14px * 1.05);
  background-color: var(--panel);

  img {
    @apply inline-block h-[2em] align-middle max-w-none;
  }
}

.mfm-x2 {
  font-size: 200%;
}

.mfm-x3 {
  font-size: 300%;
}

.mfm-x4 {
  font-size: 400%;
}
